header {
background-color: #BBBBBB;
padding: 20px;

}
.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;

}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display:inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}
.banner{
    width: 100%;
}
.principal{
    background-color: #cccccc;
    padding: 20px;
}
.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em ;
    clear: left;
}
.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}
.principal p{
    margin: 0 0 1em ;
}
.principal strong{
    font-weight: bold;
}
.principal em{
    font-style: italic;
}
#mission {
    font-size: 20px;
}

.diferenciales{
    background-color: white;
    padding: 30px;
}
.items{
    font-style: italic;
}

.ulDiferenciales{
    display: inline-block;
    vertical-align:top;
    width: 30%;
    margin-right: 15%;
    margin-left: auto;
}

.imagenDiferencial{
width: 50%;
}
footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
}
.copyright{
    color: white;
    font-size: 13px;
    margin: 20px;

}
/* Aquí inicia el código de productos */
.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}
.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;

}
.productos li:hover {
    border-color: #c78c19;
}
.productos li:active{
    border-color: #088c19;
}
.productos li:hover h2{
    font-size: 33px;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}
.producto-descripcion{
    font-size: 18px;
}
.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
/* Aquí inicia el código de contacto */